<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white sm:p-6 sm:pb-4">
          <div class="">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">{{ modalModel.header }}</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500 whitespace-pre-wrap">
                  {{ modalModel.message }}
                </p>
                <p class="text-sm text-gray-600">
                  {{ modalModel.linkedTextDescription }}
                  <ng-container *ngIf="modalModel.linkedText">
                    <span class="text-deval_default-500 underline cursor-pointer hover:text-deval_default-800"
                      (click)="openLink()">
                      {{ 'general.here' }}
                    </span>
                  </ng-container>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-1 py-1.5 sm:flex sm:flex-row-reverse sm:px-6">
          <button *ngIf="modalModel.confirmLabel" type="button"
            class="inline-flex w-full justify-center rounded-md border px-4 py-2 font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-0 sm:ml-3 sm:w-auto sm:text-sm"
             (click)="confirm()">
            {{ modalModel.confirmLabel }}
          </button>
          <button *ngIf="!!modalModel.confirmLabel2" type="button"
            class="inline-flex w-full justify-center rounded-md border px-4 py-2 font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-0 sm:ml-3 sm:w-auto sm:text-sm"
             (click)="confirmlabel2()">
            {{ modalModel.confirmLabel2 }}
          </button>

          <button type="button"
            class="inline-flex w-full justify-center rounded-md border px-4 py-2 font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-0 sm:ml-3 sm:w-auto sm:text-sm"
             (click)="cancel()">
            {{ modalModel.cancelLabel ?? 'Jo' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>