<div class="top-bar">
  <button class="btn add" (click)="addProduct()">
    <i class="fas fa-plus"></i> Shto Produkt
  </button>
</div>
<div class="search-box">
  <input type="text" placeholder="Kërko..." [value]="searchText()"
    (input)="searchText.set($any($event.target).value)" />
</div>

<table class="table">
  <thead>
    <tr>
      <th (click)="sortBy('id')">ID</th>
      <th (click)="sortBy('name')">Emri</th>
      <th>Cmimi</th>
      <th>Pershkrimi</th>
      <th>Kategoria</th>
      <th>Veprimet</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sale of sortedStock() | slice:(page()-1)*pageSize():(page()*pageSize())">
      <td>{{ sale.id }}</td>
      <td>{{ sale.name }}</td>
      <td>{{ sale.price }}</td>
      <td>{{ sale.description | slice:0:50 }}{{ sale.description.length > 50 ? '...' : '' }}</td>
      <td>{{ sale.category.name }}</td>
      <td class="actions">
        <button class="btn view" matTooltip="Shiko shitjen" (click)="viewProduct(sale)">
          <i class="fas fa-eye"></i>
        </button>
        <button class="btn edit" matTooltip="Modifiko shitjen" (click)="editProduct(sale)">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn delete" matTooltip="Fshi shitjen" (click)="confirmDeleteProduct(sale)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6" class="px-4 py-3 text-center">
        <div class="flex items-center justify-center gap-4">

          <!-- Prev button -->
          <button class="px-3 py-1 rounded-lg border text-sm font-medium me-2
                 hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed" [disabled]="page() === 1"
            (click)="page.set(page() - 1)">
            « Pas
          </button>

          <!-- Page info -->
          <span class="text-gray-700 text-sm me-2">
            Faqja <span class="font-semibold">{{ page() }}</span> nga
            <span class="font-semibold">{{ totalPages() }}</span>
          </span>

          <!-- Next button -->
          <button class="px-3 py-1 rounded-lg border text-sm font-medium me-2
                 hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed" [disabled]="page() >= totalPages()"
            (click)="page.set(page() + 1)">
            Para »
          </button>

          <!-- Page size dropdown -->
          <select class="ml-4 px-2 py-1 border rounded-lg text-sm focus:ring focus:ring-blue-300"
            [(ngModel)]="pageSize">
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="20">20</option>
          </select>

        </div>
      </td>
    </tr>
  </tfoot>

</table>